body {
    background-color: #104D38;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    padding-left: 20px;
    
  }


input{
  width: 100%;
  font-size: 20px;
  color: #104D38;
}
